<h1 class="page-headline">All Articles...</h1>
<div id="spacing"></div>
<%= render 'article', obj: @articles %>
<div>
  <%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
