<h1 class="page-headline">Welcome to <%= @user.username %>'s Page</h2>
  <div class="row">
    <div class="col-4 offset-4 grav-img" align="center">
      <%= gravatar_for @user, size: 150 %>
    </div>
  </div>
<%= render 'articles/article', obj: @user.articles %>
