<h1 class="page-headline">Get to know Codewise...it's smart</h1>
<main class="container row">
  <section class="col-10 offset-1 about-info">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia, erat nec volutpat mattis, ex mauris vulputate felis, sit amet gravida mauris lectus at ex. Suspendisse interdum odio id tempor luctus. Proin viverra neque vitae eleifend rutrum. Morbi lacinia tristique tortor sit amet auctor. Nulla ultricies fringilla efficitur. Ut placerat purus sit amet convallis vestibulum. Vivamus auctor elit imperdiet orci semper gravida. Morbi porttitor augue vitae lorem sagittis, eget rhoncus massa malesuada. Aliquam libero purus, congue vitae purus at, rutrum mollis lorem. Nunc molestie orci augue, non lobortis massa egestas nec. Quisque eu orci ultricies, efficitur ex ut, tempus metus. Phasellus suscipit a libero ac fringilla. Sed sit amet diam justo.
    </p>
    <p>
    Praesent ut est iaculis, tristique metus sit amet, ultricies nisl. Donec odio sapien, sollicitudin nec hendrerit ut, varius in quam. Nullam et mauris sed libero consectetur aliquam ut sit amet diam. Quisque odio dui, blandit vel quam eu, dictum sagittis tortor. Morbi nec dui dapibus, mollis sem id, pulvinar massa. Aenean vestibulum feugiat volutpat.
    </p>
    <p>
    Praesent ut est iaculis, tristique metus sit amet, ultricies nisl. Donec odio sapien, sollicitudin nec hendrerit ut, varius in quam. Nullam et mauris sed libero consectetur aliquam ut sit amet diam. Quisque odio dui, blandit vel quam eu, dictum sagittis tortor. Morbi nec dui dapibus, mollis sem id, pulvinar massa. Aenean vestibulum feugiat volutpat. Pellentesque dui lacus, laoreet a ipsum nec, egestas iaculis quam. Suspendisse ut lorem eget felis vulputate ornare. Suspendisse tempus eros massa, vel bibendum velit dapibus in. Fusce a euismod diam. Morbi lacinia tristique tortor sit amet auctor. Nulla ultricies fringilla efficitur.
    </p>
  </section>
</main>
<div align="center">
  <%= link_to 'Home Page', root_path, class:"btn btn-lg buttn" %>
</div>
