<div class="center jumbotron">
  <h1>Code<span class="color-wise">wise</span><br>Blog</h1>
  <%= link_to "Sign up", signup_path, class:"btn btn-lg signup-btn" %>
</div>
<%= link_to 'CodeSign Blog', articles_path %> | <%= link_to 'About Page', pages_about_path %>
