// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// @import "bootstrap-sprockets";
// @import "bootstrap";

// --------------------- Global -------------------- //
* {
 box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 110px; /* height of footer */
}

.container-fluid {
  padding: 0 !important;
}

.page-headline {
  margin-bottom: 60px;
  font-size: 48px;
  color: rgb(255,85,3);
  text-align: center;
}

.main-bg {
  height: 100%;
}

.pagination {
  margin: 25px auto 0 auto !important;
}

.page-item.active .page-link {
  color: rgb(255,255,255) !important;
  background-color: rgb(255,85,3) !important;
  border-color: rgb(255,85,3) !important;
}

.page-link {
  color: rgb(100,100,100) !important;
}

// ------------------- _Navigation ------------------ //
#navbar-box {
  position: relative;
  height: 75px;
  margin-bottom: 60px;
  padding: 0;
}

nav.navbar {
  height: 75px;
  padding: 0;
  background-color: rgb(235,235,235) !important;
  border-bottom: 3px solid rgb(115,115,115);
}

#navbarSupportedContent ul {
    list-style-type: none;
    padding: 18px 0 12px 0;
}

#logo {
  padding: 25px;
  font-size: 26px;
  font-weight: bold;
  color: rgb(80,80,80);
  text-transform: uppercase;

  &:hover {
    color: rgb(40,40,40);
    text-decoration: none;
  }
}

.nav-link {
  margin-right: 40px;
  padding: 0 !important;
  font-size: 18.5px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none !important;
}

#search-form {
  float: right;
  margin-right: 30px;
}

// ---------------------- _Footer ----------------------//
.footer {
  position: absolute;
  bottom: 0px;
  height: 70px;
  width: 100%;
  padding: 25px;
  background: rgb(80,80,80);

  p {
    display: inline;
    padding-left: 22px;
    font-size: 17px;
    color: rgb(230,230,230);
    letter-spacing: .3px;
  }
}

// ---------------------- _Form ----------------------//


// --------------------- Home Page ------------------- //
.jumbotron {
  background-image: asset-url('typewriter.jpg');
  background-size: cover;
  height: 630px;
  width: 1090px;
}

.jumbo-info {
  h1 {
    margin-top: 108px;
    margin-bottom: 10px;
    padding-left: 13px;
    color: rgb(90,90,90);
    font-size: 99px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 103px;

    .color-wise {
      color: rgb(255,85,3);
    }
  }
  a {
    margin-top: 10px;
    margin-left: 19px;
    color: rgb(255,85,3);
    border-color: rgb(255,85,3);

    &:hover {
      color: rgb(90,90,90) !important;
      border: 1.3px solid rgb(90,90,90) !important;
    }
  }
}

// --------------------- Articles Index Page ------------------- //
.article-title {
  margin-bottom: 25px;
  padding-bottom: 8px;
  border-bottom: 1.2px solid rgb(255,85,3);

  .title-text {
    font-size: 27px;
    color: rgb(70,70,70) !important;
    text-transform: uppercase;

    &:hover {
      color: rgb(145,145,145) !important;
      text-decoration: none;
    }
  }
}

.article-body {
  margin-bottom: 17px;
  font-size: 19px;
  color: rgb(95,95,95);
}

.article-meta-details {
  font-size: 15px;
  color: rgb(140,140,140);

  span {
    margin-right: 22px;
    color: rgb(255,85,3);
  }
}

.link-ops {
  padding: 12px 54px 0 54px !important;
  border-bottom: none;

  a {
    text-align: center;
  }
}

.article-bg {
  margin-bottom: 30px;
  padding: 40px 0;
  background: rgb(243,243,243);
  border-radius: 8px;
  border: 2px solid rgb(180,180,180);
}

// --------------------- Signup Page (Users New Page)------------------- //
.signup-btn {
  margin-top: 10px;
  margin-left: 19px;
  color: rgb(255,85,3);
  border-color: rgb(255,85,3);

  &:hover {
    color: rgb(145,145,145) !important;
    text-decoration: none;
  }
}

// --------------------- Users Index Page ------------------- //
.listing {
  list-style: none;
  padding-left: 0;
}

.bloglist-img {
  display: block;
  margin-bottom: 15px;
}

.bloglist-user {
  font-size: 25px;
  font-weight: bold;
  color: rgb(100,100,110) !important;

  &:hover {
    text-decoration: none;
    color: rgb(255,85,3) !important;
  }
}
.user-border {
  width: 75%;
  margin-bottom: 18px;
  padding-bottom: 7px;
  border-bottom: 1px solid rgb(255,85,3);
}

.bloglist-articles {
  font-size: 20px;
  color: rgb(110,110,110);
}

.all-bloggers-bg {
  margin-bottom: 30px;
  padding: 30px 0;
  background: rgb(249,249,249);
  border-radius: 8px;
  border: 2px solid rgb(180,180,180);
}

// --------------------- Users Show Page ------------------- //
.grav-img {
  margin-bottom: 40px;
}
