// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// @import "bootstrap-sprockets";
// @import "bootstrap";

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v11/1Ptgg87LROyAm3Kz-C8CSKlv.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwN4rWqZPANqczVs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqZPANqczVs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Special Elite Regular'), local('SpecialElite-Regular'), url(https://fonts.gstatic.com/s/specialelite/v10/XLYgIZbkc4JPUL5CVArUVL0ntnAOSFNuQsI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@mixin button-link {
  padding: 3px 15px 1px 15px !important;
  margin-top: 10px !important;
  margin-left: 19px !important;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  color: rgb(255,85,3) !important;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border-radius: 0 !important;
  border: 2.5px solid rgb(255,85,3) !important;

  &:hover {
    color: rgb(100,100,100) !important;
    border: 2.5px solid rgb(100,100,100) !important;
    text-decoration: none;
  }
}

// --------------------- Global -------------------- //
* {
 box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 150px; /* height of footer */
}

.container-fluid {
  padding: 0 !important;
}

.form-control {
  border-radius: 0 !important;
}

// div.form-group {
//   margin-bottom: 34px !important;
// }
//
// #user_username {
//   margin-bottom: 34px !important;
// }

input.form-control.mr-sm-2 {
  margin-right: 0 !important;
}

ul {
  list-style: none;
}

p {
  margin-top: 32px;
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 17.5px;
  font-weight: 400;
  color: rgb(80,80,80);
}

.page-headline {
  margin-bottom: 60px;
  font-family: 'Special Elite', cursive;
  font-size: 45px;
  font-weight: 700;
  color: rgb(80,80,80);
  text-align: center;
  text-transform: uppercase;
}

.main-bg {
  height: 100%;
}

.pagination {
  margin: 0px auto 0 auto !important;
}

.page-item.active .page-link {
  color: rgb(255,255,255) !important;
  background-color: rgb(255,85,3) !important;
  border-color: rgb(255,85,3) !important;
}

.page-link {
  color: rgb(100,100,100) !important;
}

.buttn {
  @include button-link;
  margin-left: 94px !important;
}

.center-btn {
  @include button-link;
  margin: auto !important;
}

.cancel-request {
  margin-top: 60px;

  a {
    color: rgb(100,100,100) !important;
  }
}

#spacing {
  display: block;
  height: 40px;
}

// --------------------- _Errors -------------------- //
.panel-heading {
  display: block;
  margin-left: 30px;
}

.panel-title {
  font-size: 28px;
}

.panel {
  display: block;
  margin: 0 auto 40px auto;
  padding: 23px 35px 18px 35px;
  color: rgb(255,255,255);
  background: rgba(255,40,15,.5);
}

// -------------------- _Messages ------------------- //
.alert {
  margin-bottom: 34px !important;
  text-align: center;
}

// ------------------- _Navigation ------------------ //
#navbar-box {
  position: relative;
  height: 75px;
  margin-bottom: 60px;
  padding: 0;
}

nav.navbar {
  height: 75px;
  padding: 0;
  background-color: rgb(230,230,230) !important;
  border-bottom: 7px solid rgb(218, 170, 73);
}

#navbarSupportedContent ul {
    list-style-type: none;
    padding: 18px 0 12px 0;
}

#logo {
  padding-left: 26px;
  margin-top: 4px;
  font-family: "Anton", sans-serif;
  font-size: 32px;
  color: rgb(85,85,85);
  text-transform: uppercase;

  &:hover {
    color: rgb(65,65,65);
    text-decoration: none;
  }
}

.nav-link {
  margin-right: 30px;
  padding: 0 !important;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none !important;
}

#search-form {
  margin-top: 0 !important;
  margin-right: 36px;
  // outline: none !important;

  button {
    height: 38px;
    margin-top: 0 !important;
    margin-left: 0 !important;
    font-family: "Anton", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: rgb(90,90,90) !important;
    letter-spacing: 1.4px;
    background-color: rgb(218, 170, 73) !important;
    border-radius: 0 !important;
    border: none !important;

    &:hover {
      color: rgb(230,230,230) !important;
      border: none !important;
    }
  }

  button.btn.btn-md.nav-buttn.my-2.my-sm-0 {
    padding: 3px 12px !important;
  }
}

// ---------------------- _Footer ----------------------//
.footer {
  position: absolute;
  bottom: 0px;
  height: 98px;
  width: 100%;
  padding: 33px;
  background: rgb(75,75,75);
  border-top: 7px solid rgb(218,170,73);

  p {
    display: inline;
    padding-left: 8px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: rgb(230,230,230);
    letter-spacing: .3px;

    .footer-color-words {
      color: rgb(218,170,73);
    }
  }
}

// ----------------------- _Form -----------------------//
.checkbox-box{
  margin-bottom: 14px;
  margin-left: 92px;

  .checkbox-spacing {
    margin-left: 18px;
  }
}



// --------------------- Home Page ------------------- //
.jumbotron {
  height: 630px;
  width: 1090px;
  background-image: asset-url('typewriter.jpg');
  background-size: cover;
}

.jumbo-info {
  h1 {
    margin-top: 80px;
    margin-bottom: 10px;
    font-family: 'Anton', sans-serif;
    color: rgb(90,90,90);
    font-size: 145px;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 145px;

    .color-wise {
      color: rgb(255,85,3);
    }
  }
  a {
    @include button-link;
    margin-top: 0 !important;
    margin-left: 5px !important;
  }
}

// --------------------- About Page ------------------- //
.about-info {
  padding-left: 46px !important;
  margin-top: -40px;
  margin-bottom: 30px;
  font-size: 17px;
  color: rgb(85,85,85);

  &:before {
    content: "";
    display: block;
    padding-bottom: 35px;
    margin: 0 auto;
    width: 98%;
    border-top: 1px solid rgb(255,84,3);
  }
}
// --------------------- _Articles Partial ------------------- //
.articlepartial-rendercategory {
  // padding-bottom: 16px;
  margin-top: -18px;
  margin-bottom: 40px;
  color: rgb(255,85,3);
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  // border-bottom: 1px solid rgb(218,170,73);
}

// --------------------- Articles Index Page ------------------- //
.article-bg {
  margin-bottom: 65px;

  &:after {
    content: "";
    display: block;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 81%;
    border-top: 1px solid rgb(218,170,73);
  }
}

.article-title {
  margin-bottom: 55px;
  padding-bottom: 8px;
  text-align: center;

  .title-text {
    padding: 12px 22px;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: rgb(218,170,73) !important;
    text-transform: uppercase;
    border: 9px solid rgb(218,170,73);

    &:hover {
      color: rgb(155,155,155) !important;
      border: 9px solid rgb(155,155,155);
      text-decoration: none;
    }
  }
}

.article-body {
  margin-bottom: 30px;
}

.article-meta-details {
  margin-bottom: 35px;
  font-size: 15px;
  color: rgb(140,140,140);

  span {
    margin-right: 22px;
  }
}

.link-ops {
  padding: 12px 54px 30px 54px !important;
  border-bottom: none;
  text-align: center;

  a {
    text-align: center;
  }
}

// --------------------- Articles Show Page ------------------- //
.articles-grav-img {
  margin-top: -32px;
  margin-bottom: 10px;
}

.articles-show-body {
  margin-top: 32px;
}

.article-show-body-box {
  margin-bottom: 50px;
}

.articlesshow-rendercategory {
  padding: 10px;
  margin-top: 50px;
  border-top: 1px solid rgb(218,170,73);
  border-bottom: 1px solid rgb(218,170,73);
  font-size: 19px;
  font-weight: 500;
  color: rgb(255,85,3);
  text-align: center;
}

// --------------------- Signup Page (Users New Page)------------------- //


// --------------------- Users Index Page ------------------- //
.listing {
  padding-left: 0;
}

.bloglist-img {
  display: block;
  margin-bottom: 20px;
}

.bloglist-user {
  font-family: 'Special Elite',cursive;
  font-size: 30px;
  color: rgb(85,85,85) !important;

  &:hover {
    text-decoration: none;
    color: rgb(120,120,120) !important;
  }
}

.user-border {
  width: 75%;
  margin-bottom: 18px;
  padding-bottom: 7px;
  border-bottom: 1px solid rgb(218, 170, 73);
}

.bloglist-articles {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  font-weight: 500;
  color: rgb(100,100,100);
}

.all-bloggers-bg {
  margin-bottom: 30px;
  padding: 35px 0 30px 0;
  background-color: rgb(245,245,245);
  border: 5px solid rgba(218, 170, 73,.8);
}

// --------------------- Users Show Page ------------------- //
.grav-img {
  display: block;
  margin-top: -25px;
  margin-bottom: 24px;
  text-align: center;
}
.rounded-circle {
  border: 5px solid rgb(218, 170, 73);
}
// .pic-shadow {
//   -webkit-text-shadow: 5px 8px 15px rgba(0,0,0,.8) !important;
//        	 -moz-text-shadow: 5px 8px 15px rgba(0,0,0,.8) !important;
//          	 -o-text-shadow: 5px 8px 15px rgba(0,0,0,.8) !important;
//     					text-shadow: 5px 8px 15px rgba(0,0,0,.8) !important;
// }

.article-count {
  margin-bottom: 20px;
  font-size: 20px;
  color: rgb(110,110,110);
  text-align: center;
}

// ------------------ _Category Partial ---------------- //
.category-link-list {
  font-size: 17px;
  font-weight: 500;

  a {
    color: rgb(115,115,115) !important;
  }
}

// ------------------ Categories Index Page ---------------- //
.categories-headline {
  padding-left: 30px;
}

.category-title {
  padding-top: 12px;
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
  border: 9px solid rgb(218,170,73);

  .category-text {
    padding: 12px 22px;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: rgb(218,170,73) !important;
    text-transform: uppercase;

    &:hover {
      color: rgb(155,155,155) !important;
      border: none !important;
      text-decoration: none;
    }
  }

  .category-count {
    font-size: 19px;
    font-weight: 700;
    color: rgb(115,115,115);
  }
}

// ------------------ Categories Show Page ---------------- //
.category-color {
  color: rgb(255,85,3);
}

.edit-cat-name {
  margin-top: -20px;
  margin-bottom: 100px;
}
