<div class="container-fluid">
  <footer class="footer">
    <p>
      Copyright &copy; Carlos Ibarra
    </p>
    <ul>
      <li><%= link_to "About", pages_about_path, class:"footer-link" %></li>
    </ul>
  </footer>
</div>
